{% extends 'shortener/base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <form method="POST" action="/">
            {% csrf_token %}
            <input type="text" name="origin_uri" placeholder="Input URL"/>
            <input type="submit" value="Generate short URL"/>
        </form>
    </div>
    {% if error %}
    <div class="row justify-content-center" style="margin-top: 15px;">
        {{ error }}
    </div>
    {% endif %}
    {% if origin_uri %}
    <div class="row justify-content-center" style="margin-top: 15px;">
        You URL:&nbsp;<a href="{{ origin_uri }}">{{ origin_uri }}</a>
    </div>
    <div class="row justify-content-center">
        Short URL:&nbsp;<a href="{{ short_url }}">{{ short_url }}</a>
    </div>
    {% endif %}
</div>
{% endblock %}