{% extends 'shortener/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center font-weight-bold">
        <div class="col-4 border text-center">
            Short URL
        </div>
        <div class="col-4 border text-center" style="margin-left: -1px;">
            Full URL
        </div>
    </div>
    {% for url in urls %}
    <div class="row justify-content-center" style="margin-top: -1px;">
        <div class="col-4 border text-center align-self-center">
            <a href="{{ url.short_url }}" style="word-wrap: break-word;">{{ url.short_url }}</a>
        </div>
        <div class="col-4 border text-center align-self-center" style="margin-left: -1px;">
            <a href="{{ url.url }}" style="word-wrap: break-word;">{{ url.url }}</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}